@page
@model MusicPlaylist.Pages.XML.CreateModel
@using System.Data
@using Code.XML
@using MusicPlaylist.Code
@using Newtonsoft.Json


@{
    if (Request.Method == "POST")
    {
        Song Nieuwliedje = new Song();

        Nieuwliedje.id = (Request.Form["id"]);
        Nieuwliedje.artist = Request.Form["artist"];
        Nieuwliedje.title = Request.Form["title"];
        Nieuwliedje.year = (Request.Form["year"]);
        Nieuwliedje.genre = (Request.Form["genre"]);
        Nieuwliedje.time = Request.Form["time"];
        Nieuwliedje.url = Request.Form.Files[0].FileName;

        SongMethods sm = new SongMethods();
        sm.AddSong(Nieuwliedje);

        Response.Redirect("Index");
    }
}


<form method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <td>Id</td>
            <td><input type="text" id="id" name="id" /></td>
        </tr>
        <tr>
            <td>Artist</td>
            <td><input type="text"id="artist" name="artist"/></td>
        </tr>
        <tr>
            <td>Title</td>
            <td><input type="text"id="title" name="title" /></td>
        </tr>
        <tr>
            <td>Year</td>
            <td><input type="text"id="year" name="year" /></td>
        </tr>
        <tr>
            <td>Genre</td>
            <td><input type="text" id="genre" name="genre"/></td>
        </tr>
        <tr>
            <td>Time</td>
            <td><input type="text"id="time" name="time" /></td>
        </tr>
        <tr>
            <td>file</td>
            <td><input type="file" id="file" name="file" /></td>
        </tr>
        <tr>
            <td>Submit</td>
            <td><input type="submit" asp-page-handler="Upload" /></td>
        </tr>
    </table>
</form>