@page
@model MusicPlaylist.Pages.XML.DeleteModel
@using System.Data
@using Code.XML
@using MusicPlaylist.Code
@using Newtonsoft.Json

@{
    string id = Request.Query["id"];
    SongMethods sm = new SongMethods();

    Song x = sm.GetSong(id);

    if (Request.Method == "POST")
    {
        if (Request.Form["inputOptie"] == "Ja")
        {
            sm.DeleteSong(id);
        }

        Response.Redirect("Index");
    }
}

<form method="post">
    Weet je zeker @x.artist - @x.title wilt verwijderen <br />
    <table>
        <tr>
            <td>ja</td>
            <td><input type="radio" value="Ja" name="inputOptie"/></td>
        </tr>
        <tr>
            <td>nee</td>
            <td><input type="radio" value="nee" name="inputOptie"/></td>
        </tr>
        <tr>
            <td>Submit</td>
            <td><input type="submit" /></td>
        </tr>
    </table>
</form>